opencv-python==4.10.0.84
pandas==2.2.2
gradio==4.41.0
scikit-learn==1.5.1
scikit-image==0.24.0
Pillow==9.4.0
tqdm>=4.66.1
pytoshop==1.2.1
psd-tools==1.9.24
gradio_client==1.3.0
matplotlib==3.9.2
onnx
onnxruntime-gpu
huggingface_hub
git+https://github.com/facebookresearch/segment-anything-2.git
requests
numpy
einops
torch
modules==1.0.0
